<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flower Converter</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<header>
    <h1>XML <=> JSON</h1>
</header>
<main>
    <form th:action="@{/convert}" method="post">
        <div class="input-row">
            <textarea id="input" name="input" placeholder="Enter XML..." th:text="${input}"></textarea>
            <textarea id="output" name="output" placeholder="Output..." readonly th:text="${output}"></textarea>
        </div>
        <div class="button-row">
            <button type="submit" id="convertBtn">Convert</button>
        </div>
    </form>
</main>

</body>
</html>
